

      /*header**/
      .accountbutton{
        margin-right: 129px;
      }
      .crossbutton{
        margin-left:0px;
            
            font-weight: 800;
      }
      .header{
            display:none; z-index: 100;top: 54px; height: 95%;border: 1px solid lightgray;
        }
      @media screen and (max-width: 768px) {
        .accountbutton{
          margin-right: 0px;
        }

        .crossbutton{
        margin-left:0px;
           
            font-weight: 800;
      }

        .header{
          
            z-index: 100;
            top: 55px;
            height: 97%;
            
            width: 76%;
        }

      }

      /*header**/


        #web{
    display: block;
}
#mobile{
    display: none;
}

@media(max-width: 768px ){
    #web{
    display: none;
}
#mobile{
    display: block;
}
}

#main{
  margin-left: 20%;
  transition: 0.5s;
 /* background-color: #F4F3EF;*/

}
#mobileclose{
  display: none;
}

#closebar{
  display: block;

}
#openbar{
  display: none;
}

.overlay {
  height: 100%;
  width: 17.5%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: orangered;
  
  overflow-x: hidden;
  transition: 0.5s;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media(max-width: 768px){
  #main{
  margin-left: 0%;
  /*background-color: #F4F3EF;*/
}
#mobileclose{
  display: none;
}

#closebar{
  display: block;

}
#openbar{
  display: none;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: orangered;
  
  overflow-x: hidden;
  transition: 0.5s;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

}


.overlay-content {
     position: relative;
    top: 9%;
    width: 100%;
    text-align: center;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    
    color: black;
    display: block;
    transition: 0.3s;
    /*border: 1px solid white;*/
    margin: 10px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 200;
    /*box-shadow: 0 0 0px 0 rgb(0 0 0 / 10%), 0 0px 8px 0 rgb(0 0 0 / 19%);*/
    margin-top: 4px;
    text-align: initial;
    font-weight: 700;
    
}



.overlay a:hover, .overlay a:focus {
  color: white;
  border-left: 5px solid white;
}

.overlay .closebtn {
  position: absolute;
    top: 7px;
    font-size: 20px;
    right: 14px;
}
